
<main class="main">
  <h1 class="mb-3 text-center">Hello, {{ title }}</h1>

  <div class="content">
    <div class="left-side">
      <app-dynamic-form [schema]="formSchema" (formData)="onSubmit($event)"></app-dynamic-form>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">       
        @if(formValue) {
          <h5>Submitted Value</h5>
          <pre>{{formValue | json}}</pre>
        }
    </div>
  </div>
</main>

<router-outlet />
